
@import url('fonts.css');
:root {
    --primary: #2c2c2c;
    --secondary: #1563d8;
    /* 3779df */
  }
h6{
    color: var(--secondary);
    font-size: 32px;
    font-family: 'babas';
    margin: auto;
    font-weight: bold;
}
h1{
    color: var(--secondary);
    font-size: 40px; 
    font-family: 'openSans';
    margin: 1em 0 0 0; 
    font-weight: 600;
} 
h2, 
th{
    color: white;
    font-family: 'openSans';
    font-size: 22px; 
    font-weight: 600;
    letter-spacing: 2px;
    /* margin: 0; */
}
h3, 
td{
    color: white;
    font-family: 'openSans';
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
h4{
    color: white;
    font-family: 'openSans';
    font-size: 20px;
    font-weight: 400;
    /* margin: 0; */
}

p{
    font-size: 16px;
    line-height: 1.8; 
    text-align: center;
}

a{
    text-decoration: none;
    text-wrap: nowrap;
}

small{
    color: white;
    font-size: 14px;
    text-wrap: nowrap;
}

.white-txt{
    color: white;
}

.dark-txt{
    color: black;
}

.blue-txt{
    color: var(--secondary);
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .h-line{
    width: 100%;
    margin: none;
    /* border-bottom: solid thin white; */
}

.white{
    border-bottom: solid thin white;
}

.dark{
    border-bottom: solid thin var(--primary);
}

body{
    width: 100vw;
    margin: 0;
    font-family: 'openSans';
    background-color: var(--primary);
    background-color: white;
}

#open-menu-btn{
    display: none;
    background: none;
    border: none;
    padding: 0.5em;
    margin-left: 0;
    cursor: pointer;
    width: fit-content;
}

#close-menu-btn{
    display: none;
    background: none;
    border: 0;
    margin: 0;
    padding: 1em 2em;
    cursor: pointer;
}


/* /////////////index page ///////////*/
#top{
    width: 100vw;
    height: fit-content;
    background-color: var(--primary);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location-contact-bckgrnd{
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    /* background-color: var(--primary); */
    /* border-bottom: solid thin white; */
}

#location-contact{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* height: fit-content; */
    padding: 0.5em 0;  
    /* border-bottom: solid thin white; */
    align-items: center;
    
}
#location-img{
    display: flex;
    justify-content: space-between;
}

#location-img-container{
    margin-right: 2%;
}

#location-text{
    display: flex;
    align-items: center;
}

#phone-img{
    display: flex;
    justify-content: space-between;
    width: 7%;
}
#phone-img-container{
    
}

#phone-number{}

#socials-icons{
    display: flex;
    justify-content: space-between;
    width: 5%;
}

#fb-img-container{}

#ig-img-container{}

#navbar{
    height: 110px;
    width: 90%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-title{
    height: 100%;
    margin: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logo-title,
#logo,
#logo img,
#logo-title h6 {
  pointer-events: none;
}

#navbar > .title-logo-btn{
    width: auto;
    height: 85%;
    display: block;
    z-index: 10;
}

#logo{
    height: 100%;
    margin-right: 10px;
    
}
#logo img{
    height: 100%;
    width: auto;
}


#nav-locations{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 50%;
    overflow: hidden;
    background-color: var(--primary);
}

#nav-locations ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav-locations li{
    display: flex;
}

.nav-btns{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em 1.5em;
    color: white;
}
.nav-btns:hover{
    background-color: #5a5a5a;
}

.contact-us-btn{
    background-color: var(--secondary);
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    padding: 0.2em 1.5em;
    color: white;
}
.contact-us-btn:hover{
    background-color: #1c77ff;
}

footer{
    /* position:relative; */
    width: 100%;
    background-color: var(--primary);
    height: fit-content;
    display: flex;
    justify-content: center;
    
    
}

#footer{
    width: 80%;
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
    
}

#footer-name{

}

address{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#footer-nav{

}

#footer-map{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    border: 0;
}

#footer-map iframe{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 0;
}

#main-content{
    width: 100%;
    min-height: 60vh;
    position: relative;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* /////////////index page ///////////*/

/* ////////////home page////////////////// */

#banner{
    position: relative;
    width: 100%;
    display: flex;
    max-height: auto;
    background-color: none;
    margin: 0;
    padding: 0;
}

#banner img{
    width: 100%;
    height: auto;
}

#title-box{
    position: absolute;
    top: 38%;
    left: 6%;
    width: 30%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly   ;
    align-items: baseline;
    padding: 0 2%;
    background-color: #202020;
    opacity: 90%;

    display: none;
}

#title-box #title{
    color: var(--secondary);
    margin: none;
    font-size: 20px;
    text-wrap: nowrap;
    font-weight: bold;
}


#title_box_buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.title-box-button{
    border: solid var(--secondary);
    color: white;
    width: 30%;
    height: 100%;
    
}

a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-us-button{
    background-color: var(--secondary);
    opacity: 1;
}

.h-line-short{
    width: 35%;
    margin: none;
    border-bottom: solid thin var(--primary);
}

.subheading-title-bar{
    width: 90%;
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.subheading{
    position: absolute;
    background-color: inherit;
    width: fit-content;
    padding: 0 3%;
}

#welcome{
    min-width: 70%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 50px 0;
}

#classes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    width: 100%;
}

#classes-cards{
    width: 90%;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: space-between;
}

.class-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
}

.class-img-container{
    width: 100%;
    height: auto;
}

.class-card img{
    width: 100%;
    height: auto;
}

#begginers-title-img{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#begginers-title{
    display: flex;
    width: 100%;
    justify-content: center ;
    margin: 10px;
    margin-bottom: 20px;
}

#class-beginners{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 40px;
}

#begginers-img-container{
    width: 100%;
    height: auto;
}

#begginers-img-container img{
    width: 100%;
    height: auto;
}

#begginers-text{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#coaches-slideshow{
    /* display: flex; */
    position: relative;

    /* position: relative; */
    width: 100vw;
    /* flex-direction: column; */
    height: fit-content;
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: thin solid red; */
}

#coaches-slideshow > ul{
    margin: 0;
    padding: 0;
    /* height: fit-content; */
    list-style: none;

}

.slide {
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: fit-content;
    width: 100vw;
    inset: 0;
    opacity: 0;
    transition: 300ms opacity ease-in-out;
    transition-delay: 300ms;
}

.slide[data-active] {
    position: relative;
    opacity: 1;
    z-index: 1;
    transition-delay: 0;
    /* border: solid purple; */
}

.slide-container{
    /* position:absolute; */
    display: flex;
    /* inset: 0; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 60px 0;
    height: fit-content;
    /* border: solid blue; */
}

.slide-container h2, 
.slide-container h4,
.slide-container p  {
    color: black;
    margin: 5px 0;
    text-align: left;
}
.slide-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 30%;
    height: 100%;
    margin: 0 20px;
}

.slideshow-img{
    height: 400px;
    margin: 0 20px;
}

.slideshow-img > img {
    height: 100%;
    width: auto;
}

.slideshow-button{
    position: absolute;
    z-index: 3;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,0.1);

}

.slideshow-button:focus,
.slideshow-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.slideshow-button:focus{
    outline: 1px solid black;
}

.slideshow-button.prev{
    left: 1rem;
}

.slideshow-button.next {
    right: 1rem;
}


/* ////////////home page////////////////// */


#timetable{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}

 /* /////////////////////////////////////////classes page //////////////////////////////////// */

 .classes-page{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }


 #prices-section{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 60px;
 }

  #prices-section h2{
    color: var(--secondary);
  }

   #prices-section 

 #prices{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }

 .prices-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 15vw;
    background-color: #3c3c3c;
 }

 .prices-img-container{
    width: 100%;
    height: auto;
 }

 .prices-img-container img{
    width: 100%;
    height: auto;
 }

 .prices-txt{
    width: 100%;
    text-align: center;
 }

  #timetable-section {
    background-color: #3c3c3c;
  }

.timetable {
    border-collapse: collapse;
    border: none;
    width: 70%;
    height: 30vh;
    margin-bottom: 60px;
}

.timetable th{
    color: var(--secondary);
}

.timetable td{
    color: white;
    font-size: 18px;
}

/* Only vertical gridlines */
.timetable th,
.timetable td {
    border-right: 1px solid black;
    padding: 12px 15px;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

.timetable thead{
    border-bottom: 1px solid black;
}

/* Remove left border on first column to avoid outer border */
.timetable th:first-child,
.timetable td:first-child {
    border-left: none;
}

.timetable th:last-child,
.timetable td:last-child {
    border-right: none;
}

  /* /////////////////////////////////////////classes page //////////////////////////////////// */


  /* ///////////   info page   ////////////////// */

.info-page{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#equipment-section h2 {
    color: var(--secondary);
}

#equipment-section{
    background-color: white;
}


.equip-cards-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 0;
}

.equip-card{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equip-img-container{
    height: 30vh;
    width: auto;
}

.equip-img-container img{
    height: 100%;
    width: auto;       
}

#FAQ-section{
    background-color: #3c3c3c;
    height: fit-content;
}

#FAQ-section h2{
    color: white;
}

.faqs-container{
    display: flex;
    width: 100%;
    min-height: fit-content;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

.faq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    /* height: fit-content; */
    padding: 0 30px;
    background-color: var(--primary);
    border-radius: 20px;
    margin: 30px 0;
}

/*///////////// info page ///////// */


/* ///////////////////////////// conact page //////////////////////*/
#contact-page{
    width: 100%;
    height: auto;
    /* margin:60px 60px 60px 60px; */
    margin-bottom: 60px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#contact-form{
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-field{
    margin-bottom: 1.5rem;
}

input, textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }

  #message, textarea{
    padding-bottom: 5rem;
    text-wrap: wrap;
  }

  .required-asterisk {
    color: red;
  }
  
  #contact-form button {
    background: #0066cc;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* ///////////////////////////// conact page //////////////////////*/

/* mobile phone */
@media (max-width: 599px) { /* ... */ }

/* Small tablets (600px+) */
@media (min-width: 600px) { /* ... */ }

/* Tablets (768px+) */
@media (min-width: 768px) { /* ... */ }

/* Small desktops (1024px+) */
@media (max-width: 1030px) {
    #nav-locations{
        position: fixed;
        top: 0;
        /* left: 0; */
        right: -100%;
        width: 50vw;
        height: 100vh;
        margin: 0;
        align-items: flex-start;
        z-index: 10;
        border-left: 1px solid #5a5a5a;
        transition: right 300ms ease-out;
    }

    #nav-locations.show{
        right: 0;
    }

    #open-menu-btn{
        display: block;
    }

    #close-menu-btn{
        display: block;
    }

    #open-menu-btn:hover,
    #close-menu-btn:hover{
        background-color: #5a5a5a
    }

    #nav-locations ul{
        width: 100%;
        /* margin-top: 20px; */
        flex-direction: column;
        align-items: center;

    }

    #nav-locations li{
        width: 100%;
        border-bottom: 1px solid #5a5a5a;
    }



    .nav-btns{
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1em 2em;
        color: white;
        font-size: 30px;
        width: 100%;
    }


    .equip-img-container{
        height: 15vh;
    }

    .p{
        width: 90%;
        text-align: center;
        text-wrap: wrap;
    }



}

/* Large desktops (1280px+) */
@media (max-width: 1280px) {
    .faq{
        width: 85%;
    }
}


